<!DOCTYPE html>
<html lang="tr">
<head><meta charset="UTF-8"><link rel="stylesheet" href="style.css"></head>
<body>
    <div class="v_container">
        <header class="v_header">
            <span class="v_title">THT - VAD MANİPÜLASYON ARACI</span>
            <button id="v_exit">✕</button>
        </header>
        <div class="v_body">
            <div class="v_input_box">
                <label>HEDEF PID</label>
                <input type="number" id="v_pid_input" placeholder="0000">
            </div>
            <button id="v_toggle" class="v_btn_trigger">PID KORUMAYI ETKİNLEŞTİR</button>
            <div id="v_terminal" class="v_log_box">Sistem hazır, giriş bekleniyor...</div>
        </div>
        <footer class="v_footer">
            <a href="#" id="v_dev_btn">Copyright ©2026 THT - Doctor Memotaz</a>
        </footer>
    </div>
    <script src="ui.js"></script>
</body>
</html>